body {
  margin: 0;
  padding: 0;
  background-color: rgba(254, 220, 180, 0.507);
}

header {
  background-color: #000000;
  color: white;
  padding: 40px 20px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.github-button {
  background-color: #000000;
  border: 1px;
  color: #fff;
  align-items: center;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  box-align: right;
  align-items: right;
  margin-left: 600px;
}

.github-button:hover {
  background-color: #000000;
}

#menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  order: -1;
  margin-right: 600px;
}

nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 60px;
  overflow-y: auto; /* Adiciona rolagem vertical */
  transition: left 0.3s ease;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.content h2 {
  color: #333;
  margin-top: 40px;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content ul li {
  margin-bottom: 10px;
}

.content p {
  color: #666;
}

.w3-content,
.w3-auto {
    margin-left: 150px;
    margin-right: 150px;
}

.w3-content {
    max-width: 980px
}

.w3-col.m6,
    .w3-half {
        width: 49.99999%
    }

.w3-padding-large {
      padding: 12px 24px !important
  }

.w3-padding-64 {
      padding-top: 64px !important;
      padding-bottom: 64px !important
  }

  .w3-round-small {
    border-radius: 2px
}

.w3-round,
.w3-round-medium {
    border-radius: 4px
}

.w3-round-large {
    border-radius: 8px
}

.w3-round-xlarge {
    border-radius: 16px
}

.w3-round-xxlarge {
    border-radius: 32px
}



.w3-opacity,
.w3-hover-opacity:hover {
    opacity: 0.60
}

.w3-opacity-off,
.w3-hover-opacity-off:hover {
    opacity: 1
}

.w3-opacity-max {
    opacity: 0.25
}

.w3-opacity-min {
    opacity: 0.75
}

.w3-large {
  font-size: 20px !important
}

.w3-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
}

.w3-hide-small {
  display: none !important
}

.w3-round {
  box-align: right;
  align-items: right;
  margin-left: 600px;
  margin-top: -600px;
}

.w3-image {
  box-align: right;
  align-items: right;
  margin-left: 300;
  max-width: 100%;
  height: 570px;
  width: 70px;
  top: 0;
  right: -250px;
}

.cod {
  font-size: 18px;
}

.code-container {
  border: 1px solid #ccc;
  color: #000000;
  background-color: #cb93638e;
  padding: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
  font-size: 12px;
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
}

.implemented-html {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  
}

.imagemcf {
 margin: 100;
 
}

.cores {
  text-align: center;
}

mark {
  background-color: rgb(255, 168, 54);
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.exemplo1 {
  background-color: #de9595;
}

.exemplo2 {
  background-color: #e6e3a0;
}

.exemplo3 {
  background-color: #95c7de;
  width:300px;
  margin:auto;
}

.exemplo4 {
  background-color: #8cecc4;
}

.exemplo5 {
  background-color: #f9a9ea;
}

.exemplo6 {
  background-color: #eeb269;
}

.exemplo7 {
  width:30%;  
  display:inline-block;
}

.mycontainer2 {
  display: flex;
}
.mycontainer2 > div {
  width:33%;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.imgsemantics {
  box-align: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 300px;
  margin-left: -200px;
  margin-right: 200px;
}

.fundosemantics {
  border: 1px solid #ccc;
  color: #000000;
  background-color: #80b5e38e;
  padding: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
  font-size: 12px;
  font-weight: bold;
}


